<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <%= link_to api_registro_mediciones_path, class: "nav-link" do %>
            General
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to api_registro_mediciones_area_path, class: "nav-link active" do %>
            Reporte por area
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to api_registro_mediciones_nivel_path, class: "nav-link" do %>
            Reporte por nivel
          <% end %>
        </li>
      </ul>
    </nav>

    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <h2>Reporte Medicines Por Area</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Valor</th>
              <th>Variable</th>
              <th>Area</th>
              <th>Nivel</th>
              <th>Fecha Medición</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1,001</td>
              <td>Lorem</td>
              <td>ipsum</td>
              <td>dolor</td>
              <td>sit</td>
            </tr>
            <tr>
              <td>1,002</td>
              <td>amet</td>
              <td>consectetur</td>
              <td>adipiscing</td>
              <td>elit</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>Integer</td>
              <td>nec</td>
              <td>odio</td>
              <td>Praesent</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>libero</td>
              <td>Sed</td>
              <td>cursus</td>
              <td>ante</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>libero</td>
              <td>Sed</td>
              <td>cursus</td>
              <td>ante</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
